<div class="prof-wrapper">

  <div class="profile-post">
    <div class="profile-center">
      <h1 class="prof-title"><%= @user['username'] %></h1>
      <img class="profilepic" src="<%= @user.profilepic.url %>">
    </div>
    <div class="profile-about">
      <p class="">Name: <%= @user['first'] %></p>
      <p class="">Username: <%= @user['username'] %></p>
      <p class="">Email: <%= @user['email'] %></p>
      <%if current_user == @user['id'] %>

        <a class="edit-button" href="/profile/<%= @user['id'] %>/edit">Edit</a>

      <% else %>
   </div>

  </div>



  <p></p>

  <% end %>
  </div>


  <footer>

    <img src="/images/footer2.png" class="fix" alt="" />

  </footer>
