<div class="sightings-all-wrapper">

  <div class="instructions">
    <p>Check out our list of current sightings. Comment on sightings. View other member profiles.</p>
  </div>

  <% @sightings.each_with_index do |sighting, index| %>
    <% if index == 0 || index == 1 %>
    <div class="post">
      <img class="image" src="<%= sighting['image_url'] %>" />

      <div class="left">
        <p class="sighting-title"><a href="/sightings/all/<%= sighting['id'] %>"><%= sighting['name'] %></a></p>
        <p> Posted by: <a class="posted-by" href="/profile/<%= sighting['user_id']%>"> <%= sighting.user.username %> </a></p>
      </div>
      <div class="right">
        <p class="sighting-small"> Location: <%=sighting.country.name %>
        <p class="sighting-small"> <%= sighting['date'] %>  </p>
      </div>
    <img class="image" src="<%= sighting.picture.url %>">
    </div>
    <% end %>
    <% if index > 1 %>
    <div class="post hideme">
      <img class="image" src="<%= sighting['image_url'] %>" />

      <div class="left">
        <p class="sighting-title"><a href="/sightings/all/<%= sighting['id'] %>"><%= sighting['name'] %></a></p>
        <p> Posted by: <a class="posted-by" href="/profile/<%= sighting['user_id']%>"> <%= sighting.user.username %> </a></p>
      </div>
      <div class="right">
        <p class="sighting-small"> Location: <%=sighting.country.name %>
        <p class="sighting-small"> <%= sighting['date'] %>  </p>
      </div>
    <img class="image" src="<%= sighting.picture.url %>">
    </div>
    <% end %>
  <% end %>
</div>
