<div class="">
  <% @sightings.each do |sighting| %>
    <div class="post">
      <img class="image" src="<%= sighting['image_url'] %>" />
      <p id="location"><a href="/sightings/all/<%= sighting['id'] %>"><%= sighting['name'] %></a></p>
    <p> <%= sighting['date'] %>  </p>
    <p> Posted by: <a href="/profile/<%= sighting['user_id']%>"> <%= sighting.user.username %> </a></p>
    <p> Location: <%=sighting.country.name %>
    </div>
  <% end %>
</div>
