<div class="">
<% @sightings.each do |sighting| %>
  <div class="post">
    <img class="image" src="<%= sighting['image_url'] %>" />
    <p id="location"><a href="/sightings/<%= sighting['id'] %>"><%= sighting['name'] %></a></p>
    <%= sighting['date'] %>
    <%= sighting.user_id %>
  </div>
<% end %>

</div>
